@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto&display=swap');



*,*::before,*::after{
    margin: 0;
    border: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}



html,body{
    height: 100%;
    
}


body{
    line-height: 1;
    font-family: Roboto;
    color: #A4D6CF;
}

.wecheck{
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main{
flex: 1 1 auto;
}






[class*="__container"]{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0px 15px;
    

}







